<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Library</title>
  </head>
  <body>
    <h1>My Library</h1>
    {% if  not all_book %}
    <p>Library is empty.</p>
    <ul>
    {% else %}
      {% for data in all_book%}

      <li><button><a href="{{url_for('delete',index=data.id)}}"> Delete</a></button>{{data.title}}-{{data.author}}-{{data.review}}/10<button><a   href="{{url_for('edit',index=data.id)}}"> Editing</a></button></li>
      {% endfor %}

    {% endif %}

    </ul>


    <a href="{{url_for('add')}}">Add New Book</a>
  </body>
</html>
